<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
   <setting name="jdbcTypeForNull" value="NULL"/>
</settings>
   <typeAliases>
      <typeAlias type="kr.or.iei.chat.model.vo.Chat" alias="chat"/>
      <typeAlias type="kr.or.iei.member.model.vo.Member" alias="member"/>
      <typeAlias type="kr.or.iei.rent.model.vo.Rent" alias="rent"/>
      <typeAlias type="kr.or.iei.reservation.model.vo.Reservation" alias="reservation"/>
      <typeAlias type="kr.or.iei.notice.model.vo.Notice" alias="notice"/>
      <typeAlias type="kr.or.iei.apply.model.vo.Apply" alias="apply"/>
      <typeAlias type="kr.or.iei.cart.model.vo.Cart" alias="cart"/>
      <typeAlias type="kr.or.iei.book.model.vo.Book" alias="book"/>
      <typeAlias type="kr.or.iei.spot.model.vo.Spot" alias="spot"/>
      <typeAlias type="kr.or.iei.complain.model.vo.Complain" alias="complain"/>
      <typeAlias type="kr.or.iei.book.model.vo.BookAndReview" alias="bookAndReview"/>
   </typeAliases>
</configuration>
