<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
   <setting name="jdbcTypeForNull" value="NULL"/>
</settings>
   <typeAliases>
      <typeAlias type="kr.or.iei.chat.model.vo.Chat" alias="chat"/>
      <typeAlias type="kr.or.iei.apply.model.vo.Apply" alias="apply"/>
      <typeAlias type="kr.or.iei.complain.model.vo.Complain" alias="complain"/>
      <typeAlias type="kr.or.iei.review.model.vo.Review" alias="review"/>
   </typeAliases>
</configuration>
